.dropzone{
    position: relative;
    .form-buttons{
        position: absolute;
        bottom: -50px;
    }
}
.gallery{
    .img-thumbnail{
        width: 10.55%;
        margin-bottom: 5px;
    }
}